body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

.grid {
  grid-column-gap: 50px;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.grid-2 {
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.image {
  max-width: 150%;
  text-align: center;
}

._1 {
  display: inline-block;
  width: 25%;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: center;
}

.heading {
  display: block;
  width: 100%;
  margin: 0px 3% 0px auto;
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: Varela, sans-serif;
  color: #e87d1e;
  font-size: 50px;
  line-height: 55px;
  font-weight: 400;
  text-align: center;
}

.columns {
  font-family: Bitter, serif;
}

.button {
  height: auto;
  margin-top: 50px;
  padding: 75px;
  border: 1px solid transparent;
  border-radius: 15px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#009ac7), to(#009ac7));
  background-image: linear-gradient(180deg, #009ac7, #009ac7);
  box-shadow: 1px 0 26px -4px #000;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 55px;
  font-weight: 100;
  text-align: center;
  cursor: pointer;
}

.div-block-2 {
  text-align: center;
}

.field-label {
  font-family: Varela, sans-serif;
  color: #009ac7;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
}

.div-block-3 {
  display: inline-block;
  width: 650px;
  margin-top: 35px;
  text-align: center;
}

.text-field {
  margin-top: 10px;
  margin-bottom: 18px;
  border: 1px solid #009ac7;
}

.form {
  text-align: center;
}

.section {
  margin-top: 25px;
  text-align: center;
}

.form-block {
  text-align: center;
}

.submit-button {
  display: inline-block;
  margin-top: 15px;
  padding: 25px;
  border: 0px solid #000;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e87d1e), to(#e87d1e));
  background-image: linear-gradient(180deg, #e87d1e, #e87d1e);
  box-shadow: 0 0 24px -3px #000;
  font-size: 30px;
  text-decoration: none;
  text-transform: uppercase;
}

.section-2 {
  display: inline-block;
  height: 100%;
}

.div-block-4 {
  height: 10px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#009ac7), to(#009ac7));
  background-image: linear-gradient(180deg, #009ac7, #009ac7);
}

.heading-2 {
  margin-top: 0px;
  font-family: Varela, sans-serif;
  color: #e87d1e;
  font-size: 25px;
  font-weight: 100;
  text-align: center;
}

.div-block-5 {
  display: inline-block;
  width: 15%;
  text-align: center;
}

.section-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.heading-3 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #009ac7;
  font-size: 20px;
}

.text-block {
  font-family: Varela, sans-serif;
  color: #e87d1e;
  font-size: 40px;
  line-height: 30px;
  font-weight: 700;
}

.grid-3 {
  margin-top: 100px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.heading-4 {
  text-align: center;
}

.div-block-6 {
  display: inline-block;
  width: 50%;
  margin-left: 15px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  text-align: center;
}

.heading-5 {
  border-right: 5px none #009ac7;
  color: #009ac7;
  font-size: 28px;
  font-weight: 400;
  text-align: center;
}

.section-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border-style: none;
  border-color: #000;
  font-family: Varela, sans-serif;
  font-weight: 100;
}

.div-block-7 {
  display: inline-block;
  width: 50%;
  margin-right: 0px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-right: 5px solid #009ac7;
  text-align: center;
}

.form-block-2 {
  display: inline-block;
  width: 50%;
  margin-top: 25px;
  margin-right: 1%;
  text-align: center;
}

.div-block-8 {
  position: static;
  width: 50%;
  text-align: center;
}

.field-label-2 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #009ac7;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
}

.field-label-3 {
  color: #009ac7;
  font-size: 20px;
  font-weight: 400;
}

.submit-button-2 {
  width: 52%;
  margin-top: 35px;
  padding: 15px 25px;
  border-style: solid;
  border-color: #000;
  border-radius: 10px;
  background-color: #009ac7;
  box-shadow: 0 0 17px -2px #000;
  font-size: 25px;
  font-weight: 100;
}

.text-field-2 {
  margin-top: 10px;
  border: 1px solid #009ac7;
  border-radius: 10px;
  color: #009ac7;
}

.checkbox-field {
  display: inline-block;
  width: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 24px;
  padding-top: 5px;
  padding-right: 25px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 25px;
  text-align: center;
}

.checkbox {
  width: 20px;
  height: 20px;
  margin-top: 0px;
  background-color: #fe0058;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(154, 0, 0, .5)), to(rgba(154, 0, 0, .5)));
  background-image: linear-gradient(180deg, rgba(154, 0, 0, .5), rgba(154, 0, 0, .5));
  color: #000;
  font-size: 25px;
}

.checkbox-label {
  margin-left: 10px;
  color: #009ac7;
  font-size: 20px;
  text-align: center;
}

.image-2 {
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
}

.section-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.div-block-9 {
  display: block;
  width: 40%;
}

.form-block-3 {
  display: inline-block;
  width: 50%;
  margin-top: 25px;
  text-align: center;
}

.div-block-10 {
  display: block;
  width: 100%;
}

.button-2 {
  margin-top: 35px;
  margin-bottom: 25px;
  padding: 15px 25px;
  border: 0px solid #000;
  border-radius: 10px;
  background-color: #009ac7;
  box-shadow: 0 0 17px -2px #000;
  font-size: 20px;
}

.heading-6 {
  color: #009ac7;
  font-size: 30px;
  font-weight: 400;
}

.div-block-11 {
  margin-left: 50px;
}

.image-3 {
  width: 85px;
}

.heading-7 {
  margin-top: 50px;
  color: #009ac7;
  font-size: 45px;
  font-weight: 400;
  text-align: center;
}

.div-block-12 {
  display: inline-block;
  width: 33%;
  margin-left: 3%;
  text-align: left;
}

.heading-8 {
  margin-top: 25px;
  font-family: Varela, sans-serif;
  color: #009ac7;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  text-transform: none;
}

.paragraph {
  padding-top: 15px;
  font-family: Varela, sans-serif;
  color: #009ac7;
  font-size: 25px;
  line-height: 35px;
}

.div-block-13 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.div-block-14 {
  display: inline-block;
  width: 25%;
  margin-left: 2%;
}

.section-6 {
  position: absolute;
  bottom: 0px;
  display: block;
  width: 100%;
}

.section-7 {
  position: fixed;
  bottom: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-9 {
  margin-left: 50px;
  color: #009ac7;
}

.div-block-15 {
  display: inline-block;
  width: 54%;
  margin-left: 3%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.section-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.image-4 {
  display: inline-block;
  width: 100px;
  text-align: left;
}

.div-block-16 {
  text-align: left;
}

.heading-10 {
  margin-bottom: 20px;
  font-family: Varela, sans-serif;
  color: #009ac7;
  font-size: 35px;
  font-weight: 400;
}

.heading-11 {
  margin-top: 12px;
  margin-bottom: 0px;
  font-family: Varela, sans-serif;
  color: #e87d1e;
  font-size: 30px;
  font-weight: 400;
}

.button-3 {
  margin-right: 10px;
  margin-left: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0px solid #000;
  border-radius: 15px;
  background-color: #009ac7;
  box-shadow: 0 0 18px -4px #000;
  font-size: 20px;
}

.button-4 {
  padding-top: 15px;
  font-size: 20px;
}

.italic-text {
  font-size: 25px;
}

.div-block-17 {
  font-family: Varela, sans-serif;
}

.div-block-18 {
  font-family: Varela, sans-serif;
}

.heading-12 {
  font-family: Varela, sans-serif;
  color: #e87d1e;
  font-size: 45px;
  text-align: center;
}

.div-block-19 {
  width: 60%;
}

.text-span {
  color: #009ac7;
  font-size: 70px;
}

.div-block-20 {
  display: block;
  margin-top: 50px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  text-align: center;
}

.form-block-4 {
  display: inline-block;
  width: 50%;
  text-align: center;
}

.form-3 {
  padding-right: auto;
  padding-left: auto;
}

.div-block-21 {
  position: static;
  display: inline-block;
  overflow: visible;
  width: 50%;
  float: none;
  clear: none;
  text-align: center;
}

.section-9 {
  display: inline;
  text-align: center;
}

.field-label-4 {
  margin-top: 15px;
  margin-bottom: 10px;
  font-family: Varela, sans-serif;
  color: #e87d1e;
  font-size: 22px;
  line-height: 30px;
  font-weight: 700;
}

.select-field {
  margin-top: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0 30px -10px #000;
  font-family: Varela, sans-serif;
  color: #009ac7;
}

.checkbox-field-2 {
  display: inline-block;
  width: 51%;
  padding-top: 15px;
  font-size: 20px;
  text-align: left;
}

.submit-button-3 {
  display: inline-block;
  margin-top: 25px;
  padding: 15px 25px;
  border: 0px solid #000;
  border-radius: 15px;
  box-shadow: 0 0 20px -2px #000;
  font-family: Varela, sans-serif;
  font-size: 20px;
  font-weight: 300;
}

.checkbox-2 {
  width: 20px;
  height: 20px;
  margin-top: 0px;
}

.checkbox-label-2 {
  margin-bottom: 0px;
  padding-left: 15px;
  color: #009ac7;
  text-align: left;
}

.div-block-22 {
  margin-top: -15px;
}

.form-4 {
  width: 100%;
}

.button-5 {
  margin-top: 27px;
  border: 0px solid #000;
  border-radius: 10px;
  background-color: #e87d1e;
  color: #fff;
  font-size: 20px;
}